*, *:before, *:after{
    box-sizing: border-box;
}
html, body {
    min-height: 100vh;
    width: 100vw;
}

html {
    font-size: 62.5%; 
}
html, body, div, span, object, iframe, figure, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, code, em, img, small, strike, strong, sub, sup, tt, b, u, i, ol, ul, li, fieldset, form, label, table, caption, tbody, tfoot, thead, tr, th, td, main, canvas, embed, footer, header, nav, section, video{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    text-size-adjust: none;
}
body, div, span, object, iframe, figure, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, code, em, img, small, strike, strong, sub, sup, tt, b, u, i, ol, ul, li, fieldset, form, label, table, caption, tbody, tfoot, thead, tr, th, td, main, canvas, embed, footer, header, nav, section, video{
    font-size: 100%;
}


footer, header, nav, section, main{
    display: block;
}

body{
    line-height: 1;
    font-size: 1.4rem;
    font-weight: 300; 
    color: $mainFontColor; 
}

ol, ul{
    list-style: none;
}

blockquote, q{
    quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after{
    content: '';
    content: none;
}

table{
    border-collapse: collapse;
    border-spacing: 0;
}

input{
    -webkit-appearance: none;
    border-radius: 0;
}

/* */
h1 {
  font-weight: 700;
  font-size: clamp(2.6rem, 6vw, 5rem);
  line-height: 120%;
}

.boxMap {
    position: relative;
}
.boxMap::before {    
    content: "";
    background-image: url('../mapImage/jordaan-amsterdam-map.jpg');
    background-size: cover;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.75;
} 
.boxMap canvas {
    position: relative;
    z-index: 1;
}